* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    max-width: 1250px;
    margin: 0 auto;
}

/*POP UP VINDUET*/

.hide {
    visibility: hidden;
}

.pop_up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 95%;
    background-color: #d0a886;
    padding: 10px 10px;
    z-index: 99;
    overflow: scroll;
}

.popup_content h2 {
    font-family: beloved-sans, sans-serif;
    color: white;
    margin-left: 45px;
}

.popup_content p {
    line-height: 150%;
    padding-top: 1px;
    font-family: Charter, sans-serif;
    font-size: 0.93em;
    color: white;
    margin-left: 45px;
    padding-right: 27px;

}


.tilbage {
    font-size: 2em;
    color: #574e32;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.single_img {
    object-fit: cover;
    width: 330px;
    height: 330px;
    margin-top: 30px;
    margin-left: 45px
}

.google {
    margin-top: 20px;
    margin-left: 45px;
}

iframe {
    width: 330px;
    height: 330px;
}

.popupikon {
    width: 85px;
    position: absolute;
    bottom: -310px;
    left: 6px;
}

@media (min-width:670px) {
    .single_img {
        object-fit: cover;
        width: 400px;
        height: 400px;
        position: absolute;
        left: 0px;
        top: 30px;

    }

    .popupikon {
        width: 85px;
        position: absolute;
        bottom: -95px;
        left: 6px;
    }

    .google {
        position: absolute;
        bottom: -100px;
        right: 30px;
    }

    iframe {
        width: 750px;
        height: 200px;
        position: absolute;
        right: 0px;
        bottom: 90px;
    }

    .popup_content p {
        line-height: 150%;
        padding-top: 1px;
        font-family: Charter, sans-serif;
        font-size: 0.93em;
        color: white;
        margin-left: 0px;
        padding-right: 40px;
        position: absolute;
        top: 100px;
        left: 500px;

    }

    .popup_content h2 {
        font-family: beloved-sans, sans-serif;
        color: white;
        margin-left: 0px;
        position: absolute;
        top: 50px;
        left: 500px;
    }

    .pop_up {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 95%;
        background-color: #d0a886;
        padding: 10px 10px;
        z-index: 99;
        overflow: scroll;
    }
}

/*_____________________________*/

.valgt {
    background-color: #253b19;
}


body {
    font-family: 'Josefine Sans', sans-serif;
}

.splashimage {
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

/********* NAV BAR MOBIL *********/

.navbar {
    font-size: 18px;
    background-image: white;
    border: 1px solid rgba (0, 0, 0, 0.2);
    padding-bottom: 10px;
}

/*skjul menu*/
.main-nav {
    list-style-type: none;
    display: none;
}

.active {
    display: block;
}

.nav-links,
.log {
    text-decoration: none;
    color: black;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 13px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
}



/********* STYLE AF MAIN *********/



h1 {
    font-family: beloved-sans, sans-serif;
    letter-spacing: 5px;
    color: #000000;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 2rem;
}

nav h3 {
    font-family: Charter, sans-serif;
    font-size: 1.6rem;
    margin-top: 8vw;
    margin-bottom: -10vw;

}

h4 {
    font-family: beloved-sans, sans-serif;
    font-size: 1.2rem;
}


.velkommentekst {
    font-family: Charter, serif;
    font-style: normal;
    font-weight: 100;
    line-height: 5vw;
    padding: 3vw;

}


nav,
button {
    text-align: center;
    font-family: Charter, serif;
    font-weight: 200;
    font-style: normal;
    border: 5px;
    margin: 0.5rem;
    color: black;
    font-size: 1rem;
}

button {
    padding: 15px;
    background-color: #82976f;
    color: white;
}

button:hover {
    background-color: #253b19;
}




.container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    text-align: center;
}



#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3em;
    margin: 5em;
}



.aktivitet {
    border: 1px solid #D0A886;
    padding: 1em;
    overflow: hidden;
    display: block;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
    margin: 0 auto;
}

.billeder {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;

}

.container:hover .billeder {
    opacity: 0.3;
    transform: scale(1.1);

}

.container {
    position: relative;
}



article {
    text-align: center;

}

/**************** TABLET **************/
@media (min-width:600px) {

    .velkommentekst {
        line-height: 4vw;
        padding: 2vw;
    }

    nav h3 {
        margin-top: 3vw;
        margin-bottom: 0vw;
    }
}

/*************** DESKTOP *************/
@media (min-width:1000px) {
    .velkommentekst {
        line-height: 3vw;
        margin-bottom: -4vw;
        padding: 1vw;

    }

    nav h3 {
        margin-top: 3vw;
        margin-bottom: -3vw;
    }

    nav button {
        margin-top: 3vw;
    }
}

/******** FOOTER *********/

.footer {
    color: white;
}

.footer h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 20px;
    font-family: beloved-sans, sans-serif;
    padding-top: 25px;
    text-align: center;
}

.footer_container {
    text-align: center;
    background-color: #82976F;
}

.footer li {
    list-style: none;
    line-height: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: Charter, serif;
}

.copyright {
    margin-top: 20px;
}

.fa-facebook,
.fa-instagram,
.fa-tiktok {
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

.copyright_container {
    background-color: #253b19;
}


@media (min-width:650px) {
    .footer_flex {
        display: flex;
        justify-content: space-around;
    }

    .footer h3 {
        text-align: left;
    }

    .fa-facebook,
    .fa-instagram,
    .fa-tiktok {
        margin-left: 5px;
        margin-right: 5px;
    }
}


/********* NAV BAR DEKSTOP *********/

@media screen and (min-width: 768px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        height: 100px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 20px;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: aliceblue;
    }
}
